body{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-nav .nav-item .nav-link{
    color: #f5f7f5;
}

.footer-nav .nav-item .nav-link:hover{
    color:#3a8c85;
    transition: color 1.25s
}

#header-links{
    color: #000000;
    font-weight: bold;
}